.style{
  border: 1px solid #ddd; /* Gray border */
  border-radius: 4px;  /* Rounded border */
  padding: 5px; /* Some padding */
  width: 150px; /* Set a small width */
}
.style:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.grid {
  display: flex;                       /* establish flex container */
  flex-wrap: wrap;                     /* enable flex items to wrap */
  width: 600px;
  align-items: center;
  justify-content: center;
}
.cell {
  flex: 0 0 32%;                       /* don't grow, don't shrink, width */
  margin-bottom: 5px;
}