<!doctype html>
<title>Image2Art</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<h1>Image2Art</h1>

<p>
    Welcome to Image2Art server. Start by uploading a file. <br>
</p>

{% for message in get_flashed_messages() %}
<div class="flash">
    {{ message }}
</div>
{% endfor %}

<form method=post enctype=multipart/form-data>
  <input type=file name=file>
  <input type=submit value=Upload>
</form>

<p>
    Original image. <br>
</p>

<img src="{{ file_paths['uploaded_path'] | default('/static/cat.jpg') }}"
         alt="Uploaded image" width="640" height="480" />